:root {
  --main-color: #ffa600;
}

body {
  background-color: #1b1b1b;
}

h1 {
  color: #ffffff;
}

#sampleControls {
  background-color: #828282;
  border: 3px solid #c8c8c8;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px #c8c8c8;
  padding: 10px;
  width: 50%;
  margin-bottom: 10px;
}

select {
  display: block;
  height: 40px;
  margin-top: 15px;
  margin-left: 15px;
  background-color: #c8c8c8;
  border: 3px solid #1b1b1b;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px #1b1b1b;
}

#downloadedFiles {
  background-color: #828282;
  border: 3px solid #c8c8c8;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px #c8c8c8;
  padding: 10px;
  width: 25%;
  min-height: 75px;
  margin-top: 30px;
}
.checkboxLabel {
  color: #c8c8c8;
}

#downloadedFiles > a {
  display: block;
  padding-top: 10px;
  color: #c8c8c8;
}

#sampleCollections {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

#sampleCollections > .sampleElement {
  background-color: #ffa600;
  border: 3px solid #1b1b1b;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px #1b1b1b;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  width: 80px;
  height: 40px;
  margin: 5px;
  padding-right: 20px;
}

#sampleCollections > #categoriesDiv {
  height: 240px;
  width: 150px;
  display: block;
  background-color: #c8c8c8;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

#categoriesDiv span {
  display: block;
  padding: 5px 10px;
  cursor: pointer;
}

#categoriesDiv .selected-category {
  background-color: #828282;
}

#categoriesDiv h3 {
  color: #1b1b1b;
}

.removeSample {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #c8c8c8;
  color: #828282;
  border-radius: 3px;
  border: 2px solid #828282;
  width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2px;
}

#allTracks {
  display: grid;
  grid-template-columns: 150px auto 50px;
}

.setUpDiv {
  display: grid;
  justify-items: center;
  margin: 0;
  grid-template-rows: 30px auto;
}

.removeTrack {
  height: 30px;
  width: 30px;
  margin: auto;
  border: 2px solid #c8c8c8;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px #c8c8c8;
  background-color: #828282;
  color: #c8c8c8;
}

h3 {
  margin-top: 5px;
  margin-bottom: 0;
  padding: 0;
  font-size: 18px;
  color: #c8c8c8;
}

.slider {
  height: 25px;
  width: 80%;
}

.sliderInstrument {
  width: 90%;
}

.dropped {
  background-color: #ffa600;
  border: 3px solid #1b1b1b;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 1px #1b1b1b;
  padding: 5px;
  margin: 2px;
  display: grid;
  grid-template-rows: auto 20px;
  position: relative;
  text-align: center;
  align-items: center;
  justify-items: center;
  padding-right: 17px;
  flex-grow: 0;
  flex-shrink: 0;
}

.dropped #text {
  padding-top: 15px;
}

#allTracks > div {
  background-color: #828282;
  border: 3px solid #c8c8c8;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px #c8c8c8;
  height: 75px;
  padding: 5px;
  margin: 10px 0px 10px 0px;
}

.trackDiv {
  display: flex;
  overflow-x: auto;
}

#addTrack {
  display: grid;
  grid-column: 2;
  width: 120px;
  margin: 10px;
  background-color: #c8c8c8;
  border-radius: 5px;
}

#playSong {
  display: flex;
  justify-content: flex-end;
}

#pause {
  color: #ffa600;
  font-size: 56px;
  margin-right: 10px;
  margin-bottom: 30px;
}

#play {
  color: #ffa600;
  font-size: 56px;
  margin-right: 60px;
  margin-bottom: 30px;
}

#reset {
  color: #ffa600;
  font-size: 56px;
  margin-right: 10px;
  margin-bottom: 30px;
}

#download {
  color: #ffa600;
  font-size: 56px;
  margin-right: 10px;
  margin-bottom: 30px;
  visibility: hidden;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #c8c8c8;
  height: 3px;
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -7px;
  background-color: #1b1b1b;
  height: 1rem;
  width: 0.5rem;
  border-radius: 10px;
}

@media (max-width: 800px) {
  #pause {
    margin-top: 40px;
  }

  #play {
    margin-top: 40px;
  }

  #reset {
    margin-top: 40px;
  }

  #download {
    margin-top: 40px;
  }

  #sampleControls {
    width: 75%;
  }

  #allTracks {
    display: grid;
    grid-template-columns: 100px auto 50px;
  }

  #downloadedFiles {
    width: 40%;
  }
}

@media (max-width: 550px) {
  #sampleControls {
    width: 85%;
  }

  #downloadedFiles {
    width: 70%;
  }

  #allTracks {
    display: grid;
    grid-template-columns: 75px auto 40px;
  }

  h3 {
    font-size: 14px;
    color: #c8c8c8;
  }
}
